<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VT Midias</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="contacto">
    <!-- Menú de navegación -->
    <header class="encabezado">
        <nav class="menu">
            <div class="logo">
                <a href="/index.html">
                    <img src="/images/LOGO_VT_500x500.png" alt="VT Midias" width="500" height="500">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/views/portifolio.html">Portifolio</a></li>
                <li><a href="/views/servicios.html">Servicios</a></li>
                <li><a href="/views/presupuesto.html">Presupuesto</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
<main>
        <!-- Sección de Banner -->
        <div class="banner-section">
            <a href="/views/presupuesto.html" class="banner-link">
                <img src="/images/image_pagina_web_1920x500.png" alt="Banner de la Empresa" class="banner-img" width="1920" height="500">
            </a>
        </div>

    <!-- ección de Contacto, mapa de ubicación con telefono, correo y dirección.-->
    <div id="mapa" class="seccion">
        <h2>¿Dónde estamos?</h2>
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d256519.8516211756!2d-3.848016294104749!3d40.325985857747135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42289976a3b0a5%3A0xffb9b1491cc3ede0!2sC.%20de%20Alcal%C3%A1%2C%2077%2C%20Salamanca%2C%2028001%20Madrid!5e1!3m2!1ses!2ses!4v1732647754816!5m2!1ses!2ses" 
            width="100" 
            height="400" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy">
        </iframe>
    </div>
    <section id="contacto-info" class="seccion">
        <h2>Contacto</h2>
        <div class="contacto-info">
            <p><strong>Teléfono:</strong> +34 691 76 55 03</p>
            <p><strong>Correo:</strong> contacto@vtmidias.com</p>
            <p><strong>Dirección:</strong> Calle Alcalá, 77, Madrid, España</p>
        </div>
    </section>
    
</main>
    <!--Sección Pie de Pagina con redes sociais-->
    <footer>
        <div class="footer-contenedor">
            <div class="redes-sociales">
                <a href="https://facebook.com" target="_blank" class="social-icon">
                    <img src="/images/logotipo_meta2048x2048.png" alt="Facebook" width="2048" height="2048">
                </a>
                <a href="https://youtube.com" target="_blank" class="social-icon">
                    <img src="/images/logo_youtube_348x348.png" alt="youtube" width="348" height="348">
                </a>
                <a href="https://instagram.com" target="_blank" class="social-icon">
                    <img src="/images/logo_ig_204x192.png" alt="Instagram" width="204" height="192">
                </a>
            </div>
            <p class="direccion">Dirección: Calle Alcalá, 77 Madrid, España</p>
            <p class="aviso-legal">© 2024 VT Midias. Todos los derechos reservados.</p>
        </div>
    </footer>
    
</body>
</html>